IS_DOCKER=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=prisma
PGADMIN_DEFAULT_USER=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
POSTGRES_PORT=5432

PRISMA_ENDPOINT=http://localhost:4466
