doctype transitional
head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Portfolio - Responsive Email Template
    style(type='text/css').
        table {
            font-family: 'Lato', Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            font-smoothing: antialiased;
        }

        @media only screen and (max-width: 700px) {
            /* ----- Base styles ----- */
            .full-width-container {
                padding: 0 !important;
            }

            .container {
                width: 100% !important;
            }

            /* ----- Header ----- */
            .header td {
                padding: 30px 15px 30px 15px !important;
            }

            /* ----- Projects list ----- */
            .projects-list {
                display: block !important;
            }

            .projects-list tr {
                display: block !important;
            }

            .projects-list td {
                display: block !important;
            }

            .projects-list tbody {
                display: block !important;
            }

            .projects-list img {
                margin: 0 auto 25px auto;
            }

            /* ----- Half block ----- */
            .half-block {
                display: block !important;
            }

            .half-block tr {
                display: block !important;
            }

            .half-block td {
                display: block !important;
            }

            .half-block__image {
                width: 100% !important;
                background-size: cover;
            }

            .half-block__content {
                width: 100% !important;
                box-sizing: border-box;
                padding: 25px 15px 25px 15px !important;
            }

            /* ----- Hero subheader ----- */
            .hero-subheader__title {
                padding: 80px 15px 15px 15px !important;
                font-size: 35px !important;
            }

            .hero-subheader__content {
                padding: 0 15px 90px 15px !important;
            }

            /* ----- Title block ----- */
            .title-block {
                padding: 0 15px 0 15px;
            }

            /* ----- Paragraph block ----- */
            .paragraph-block__content {
                padding: 25px 15px 18px 15px !important;
            }

            /* ----- Info bullets ----- */
            .info-bullets {
                display: block !important;
            }

            .info-bullets tr {
                display: block !important;
            }

            .info-bullets td {
                display: block !important;
            }

            .info-bullets tbody {
                display: block;
            }

            .info-bullets__icon {
                text-align: center;
                padding: 0 0 15px 0 !important;
            }

            .info-bullets__content {
                text-align: center;
            }

            .info-bullets__block {
                padding: 25px !important;
            }

            /* ----- CTA block ----- */
            .cta-block__title {
                padding: 35px 15px 0 15px !important;
            }

            .cta-block__content {
                padding: 20px 15px 27px 15px !important;
            }

            .cta-block__button {
                padding: 0 15px 0 15px !important;
            }
        }
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
span(style='color:transparent !important; overflow:hidden !important; display:none !important; line-height:0px !important; height:0 !important; opacity:0 !important; visibility:hidden !important; width:0 !important; mso-hide:all;')
// / Full width container
table.full-width-container(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' bgcolor='#eeeeee' style='width: 100%; height: 100%; padding: 30px 0 30px 0;')
    tr
        td(align='center' valign='top')
            // / 700px container
            table.container(border='0' cellpadding='0' cellspacing='0' width='700' bgcolor='#ffffff' style='width: 700px;')
                tr
                    td(align='center' valign='top')
                        // / Header
                        table.container.header(border='0' cellpadding='0' cellspacing='0' width='620' style='width: 620px;')
                            tr
                                td(style='padding: 30px 0 30px 0; border-bottom: solid 1px #eeeeee;' align='left')
                                    a(href='#' style='font-size: 30px; text-decoration: none; color: #000000;') Your restore code
                        // /// Header
                        // / Hero subheader
                        table.container.hero-subheader(border='0' cellpadding='0' cellspacing='0' width='620' style='width: 620px;')
                            tr
                                td.hero-subheader__title(style='font-size: 43px; font-weight: bold; padding: 40px 0 15px 0;' align='left')
                                    a(href=`https://yoursite.org/restore?code=${code}`)
                                        div Your code: #{code}
                            tr
                                td.hero-subheader__content(style='font-size: 16px; line-height: 27px; color: #969696; padding: 0 60px 90px 0;' align='left')
                                    | Your restore code
